<app-header></app-header>

<div class="mt-2 cart-container">
  <div class="cart-header">
    <h3>Your Cart</h3>
    <p>Your items</p>
  </div>
  <div class="cart-items">
    <div *ngFor="let item of items" class="cart-item">
      <div class="cart-item-image">
        <img src="https://via.placeholder.com/300x200.png?text=Product+Image" alt="{{ item.product.name }}" />
      </div>
      <div class="cart-item-details">
        <h2>{{ item.product.name }}</h2>
        <p>{{ item.product.description }}</p>
      </div>
      <div class="cart-item-quantity">
        <button (click)="decreaseQuantity(item)">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="increaseQuantity(item)">+</button>
      </div>
      <div class="cart-item-price">
        <p>{{ item.product.price | currency }}</p>
        <button (click)="removeItem(item)">Remove</button>
      </div>
    </div>
  </div>
  <div class="cart-total">
    <h4>Total: {{ getTotal() | currency }}</h4>
  </div>
  <div class="cart-buttons">
    <button class="checkout-button" (click)="createOrder()">Checkout</button>
    <button class="clear-button" (click)="clearCart()">Clear Cart</button>
  </div>
</div>
<app-footer></app-footer>